<div class="col-10 offset-1">
  <h1 class="text-center" style="font-family:'Grenze', serif">About Splurty</h1>
  <p>
    Splurty was built as part of learning activity during University of Toronto's coding BootCamp. It is a course that give people the technical skills needed to launch their own MVPs and turn ideas into reality.
  </p>
  <br />
  <p>
    The course helped students how to code and build products people want at places like Harvard Business School, Carnegie Mellon, Babson, Rhode Island School of Design, Brown University, Punohou High School and ‘Iolani High School.
  </p>
  <p>
    If you want to learn how to code - start <a target="_blank" href="https://online.bootcampspot.com"> here</a>.
  </p>
  
</div>

<br class="clear"/>
<br/>
<br/>