@import url('https://fonts.googleapis.com/css?family=Chewy|Satisfy|Grenze&display=swap');
@import "bootstrap";
.clear {
  clear:both
}

.circle {
    font-weight:bold;
    font-style: italic;
    position: relative;
    border-radius: 100%;
    background: #f84342;
    border: 1px solid #F7F7F7;
    width: 80px;
    height: 80px;
    margin: 10px 10px;
    text-align: center;
    color: #FFF;
    font-size: 10px;
    line-height: 16px;
    cursor: pointer;
    transform:rotate(11deg);
    -ms-transform:rotate(11deg); /* IE 9 */
    -webkit-transform:rotate(11deg); /* Opera, Chrome, and Safari */
}

.slogan{
  font-family: 'introrustg-base2line';
  padding-top : 30px
}

.links {
  padding-top : 30px
}

.links a {
  color : black;
  font-size : 25px;
  border-bottom : 1px solid #4a4144
}

header {
  border-top : 9px solid #222222;
}

h1{
  font-family: 'Satisfy', cursive;;
}

h2{
  font-family: 'Grenze', serif;
  text-align:right;
}

hr {
  border-top : 3px solid #4a4144;
  clear : both;
}

html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
}

.next-quote {
  color:#f84342;
  font-family: 'Grenze', serif;
  font-size : 20px;
}

.footer-blurb{
  font-family: 'Grenze', serif;
  font-style :italic;
  text-align:right;
  font-size:10px;
}